header {
    padding: 10px 0;
    text-align: left;
    background: #2f4858;
    color: #edf7fb;
  }
  
  nav ul {
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #edf7fb;
  }
  
  nav ul li a:hover,
  .active {
    color: #21d5db;
  }
  
  main {
    margin: 20px 0;
    flex: 1;
    overflow-y: auto;
  }
  
  main section {
    margin-bottom: 20px;
  }
  
  footer {
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    position: fixed;
    text-align: center;
    background: #2f4858;
    color: #edf7fb;
  }
  
  .columns {
    margin: 20px;
    gap: 20px;
    display: flex;
  }
  
  .column {
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    background-color: #edf7fb;
  }
  
  footer p {
    color: #edf7fb;
    text-align: center;
  }
  
  .einleitung {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  