.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  margin: 10, auto;
}

.video-section h2 {
  flex: 1;
}

.video-container {
  width: 40%;
  max-width: 700px;
  margin: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
}
